[2021-06-08 17:54] asraa opened #20 "Add CI verification for changes in repository/"
Make CI run the verification scripts as well

[2021-06-08 17:55] asraa opened #22 "Prompt users to change key PIN"
Prompt users to change their key PIN from the default

[2021-06-09 20:28] asraa opened #64 "Create little scripts for each steps"
Create mess-up free bash scripts for each step including the git stuff

[2021-06-09 20:30] asraa commented on #20
we need to use a precompiled binary fetched from gcs so this can be faster and be non-blocking

[2021-06-09 20:37] asraa opened #66 "Add other targets to the repository"
Add other targets besides fulcio.crt.pem

[2021-06-09 21:17] asraa commented on #64
closing in favor of https://github.com/sigstore/root-signing/issues/65

[2021-06-09 21:17] #64 closed

[2021-06-09 21:18] asraa commented on #65
we could also scriptify the verifies

instead of having to fetch pull requests, just do something like

verify.sh <PULLID> (which will also cleanup git state)

[2021-06-14 15:30] asraa commented on #65
I think this is done now with the verification script in

[2021-06-15 13:16] asraa commented on #22
done with https://github.com/sigstore/root-signing/pull/105

[2021-06-15 13:16] #22 closed

[2021-06-15 13:30] asraa opened #123 "Bump expiration to 6 months"
**Description**

[2021-06-16 12:27] #123 closed

[2021-06-17 18:07] #66 closed

[2021-06-17 18:31] asraa opened #155 "Make simple table of the steps in the README"
**Description**

[2021-06-17 18:33] asraa opened #159 "Dont output verification of the published root until the last step"
**Description**

[2021-06-17 19:23] asraa commented on #159
https://github.com/sigstore/root-signing-practice

[2021-06-17 19:23] #159 closed

[2021-06-17 19:23] asraa commented on #155
https://github.com/sigstore/root-signing-practice

[2021-06-17 19:23] #155 closed

[2021-06-19 12:42] dlorenc opened #25 "Package up the root!"
Similar to ca-certs, we should package this up and make it easy to install and check against!

[2021-06-19 12:43] dlorenc opened #26 "Delegations!"
I think we need to start adding support for delegations here so we can let other projects reuse this!

[2021-06-28 14:38] joshuagl opened #27 "TUF metadata should normalise to UTC time."
**Description**

While taking a look at the generated metadata I noticed that the expires entries in the metadata encode a timezone:
[code]
(from [1.root.json](https://github.com/sigstore/root-signing/blob/7acedaa9c86777fb43d37b0fe0bfef390dc2e17f/ceremony/2021-06-18/repository/1.root.json#L27))

Whereas the the specification [suggests](https://theupdateframework.github.io/specification/v1.0.19/#fi

[2021-08-18 16:48] asraa commented on #26
We should start preparing what the process for becoming a SigStore trust delegation before the second root signing refresh in October! Based on https://github.com/sigstore/fulcio/issues/122...

I think based on the proposal we may want to stage empty/minimal metadata in preparation for the next signing so that the process below can work.

### Delegation Process
Interested projects should use a pul

[2021-09-08 10:35] joshuagl commented on #27
Note: python-tuf can not read the metadata in this repository because it expects expires datetimes to be in UTC when it converts the string to a `datetime` object during deserialisation here https://github.com/theupdateframework/python-tuf/blob/ea9acf2bfd7097b4a7cf1bd4913008f0c4633245/tuf/api/metadata.py#L458

[2021-09-16 15:31] #27 closed, assigned to nobody

[2021-12-07 21:22] Hayden-IO opened #65 "Automatic fetching of Fulcio signing certificates"
**Background**

The managed version of Fulcio is backed by GCP CA Service. When creating a CA, the CA is created under a CA pool. CA pools store the list of active CAs. Certificate issuance is done through the CA pool, and the pool selects which CA the issued certificate will chain up to at random. The benefit of this is that you can rotate CAs without changing the certificate issuance code, as th

[2022-01-07 22:30] asraa opened #74 "GCS Bucket Sync using GitHub workflow"
**Description**

The sync job (https://github.com/sigstore/root-signing/blob/main/.github/workflows/sync.yml) uses google-auth action to authenticate to GCP. However, the job's been failing requiring manual updates the GCS bucket (https://github.com/sigstore/root-signing/actions/runs/1642206727) due to

"ServiceException: 401 Anonymous caller does not have storage.objects.create access to the Goog

[2022-01-07 22:35] asraa commented on #74
Might be able to work around this with gcloud storage

https://cloud.google.com/sdk/gcloud/reference/alpha/storage

[2022-01-07 22:42] asraa opened #75 "Separate SA for sync and signing"
**Description**

Use separate SA for syncing to the GCS bucket and signing with the online keys on GCP to prevent compromises from having too far-reached consequences.

[2022-01-07 23:49] #74 closed, assigned to nobody

[2022-01-18 21:07] Hayden-IO opened #80 "Prerequisites for verification with old targets"
Context: https://github.com/sigstore/cosign/issues/1273

To support verifying old targets, we will need to enable consistent snapshots to persist versioned targets and snapshots.

- [ ]  Enable consistent snapshots in Sigstore root - I have tested locally with cosign and don't see any issues with consistent snapshots and versioned target names.
- [ ] Confirm that versioned targets.json and all tar

[2022-01-19 14:29] asraa commented on #80
Should we also add custom metadata to tag target names? Or how do we expect multiply supported fulcio root CAs in one target file to differ in name?

e.g. cosign fetches all targets with custom metadata tagged "sigstore: fulcio" rather than hardcoded names?

[2022-01-19 17:57] Hayden-IO commented on #80
Is there good support for custom metadata tags currently? If so, then yea, I think we should make this change. It'd be cleaner than requiring target names and using regex. If there isn't good support for custom metadata, we could make do with regex for now.

Btw, should we put this under a separate issue? This seems more about better support for rotation of a target (attempting to verify with both

[2022-01-24 16:02] asraa opened #93 "Root/Targets Signing v3"
**Description**

Tracking issue for all the changes we need for our v3 root signing enhancements. The v2 root will expire on 2022-05-11. Let's aim to re-sign in February.

Changes to do in root/targets:
- [x] Reduce root/target expiration to 4 months rather than [6](https://github.com/sigstore/root-signing/blob/03e99f8018ee1189ef9984f9ef09569808a810f5/cmd/tuf/app/init.go#L95)
- [x] Rotate out one

[2022-01-24 17:43] Hayden-IO commented on #93
Great list!

I agree with this. Maybe even less frequent, since we are rarely updating targets? Something to note: I was looking through https://theupdateframework.io/faq/ and it mentioned having frequent regeneration of the snapshot, as frequently as the timestamp. I don't see a purpose to having a bunch of versioned snapshots that we have to indefinitely persist, especially given how infrequentl

[2022-01-24 19:38] mnm678 commented on #93
I think this advise is for implementations where snapshot changes more frequently. As explained in #7 of that faq, if snapshot is updated less frequently, it can expire less frequently, especially if it's possible to use an offline key to sign snapshot.

[2022-01-24 20:08] asraa commented on #93
But rekor shards and delegations will be updated intermittently, which snapshot will sign off on (right?), so I think this should be done semi-frequently. O(weeks)

[2022-01-24 20:37] Hayden-IO commented on #93
Thanks @mnm678, that makes sense!

@asraa , good point, I didn't realize the snapshot would contain all of the delegations' files too. So yea, maybe every few weeks, and we can adjust during the next root signing if we find we need it to be more frequent or less. 3 weeks would be ~17 snapshots per year, every 4 weeks would be 13, which seems reasonable.

[2022-02-03 22:39] trishankatdatadog opened #96 "Monitoring for metadata expiration?"
**Question**

Do we have monitors/pagers in place to make sure that root/timestamp/snapshot/targets metadata are renewed before actually expiring in production? Otherwise, we risk accidentally running into the old "forgot to renew TLS cert in prod..."

[2022-02-04 15:21] asraa commented on #96
We should! Even a slack app alert would help. WDYT?

[2022-02-04 15:24] joshuagl commented on #96
Perhaps a GitHub Action which parses metadata, checks expiry, and files an Issue when the expiration is close?

[2022-02-04 15:30] asraa commented on #96
I LOVE THAT JOSHUA! Assigning, love it love it.

[2022-02-04 15:49] asraa opened #98 "Init from config"
**Description**

I was making enhancements to the root and realized it would be really nice to configure a config that could be used to initialize next roots based on params:
* expiration for each target type
* thresholds
* delegations
* targets (with custom meta)
* signers (either locations of HSM key data or GCP KMS signers)

What are some alternatives to dropping a custom YAML?

[2022-02-04 15:50] asraa commented on #98
cc @haydentherapper @bobcallaway @dlorenc @joshuagl do any of you have good ideas?

[2022-02-04 16:56] joshuagl commented on #98
Would (mustache) templating be a good solution?

https://mustache.github.io/mustache.5.html

[2022-02-04 17:00] dlorenc commented on #98
Do you have a sketch of what this might look like? I'm not sure I understand the idea enough to comment.

[2022-02-04 18:26] asraa commented on #98
I'll spec it out!

[2022-02-09 00:46] Hayden-IO commented on #80
No longer needed, #93 covers the key items from this

[2022-02-09 00:46] #80 closed, assigned to nobody

[2022-02-09 18:18] asraa commented on #96
@priyawadhwa set up GCP monitoring

* Cron to Slack would be GA blocker. will be a fallback eventually
* Ideal state would be cron talks to GCP monitoring so that pagers can get these alerts too

[2022-02-14 07:58] jku opened #103 "TUF expiry contains microseconds"
From TUF specification:

To me this says that the expiry string should not contain microseconds. Current sigstore metadata contains microseconds: https://github.com/sigstore/root-signing/blob/main/repository/repository/2.root.json#L27

I'm not sure if defining expiry this strictly in the spec is useful but the definition seems clear and in python-tuf we currently implement the spec strictly so fai

[2022-02-14 16:11] asraa commented on #103
Oooh nice! Thank you for finding this -- I can set to truncate at seconds

[2022-02-18 16:48] asraa commented on #98
https://docs.google.com/document/d/1rhJEPs2LiCs7CZvZeNf8BIM2NLBjXAot8v-GnfulyQg/edit?resourcekey=0-PqzLxKb99V2ZM0iljWsWEA#

Here it is! I have started working out the implementation just to make sure it works, but my main goal is not to keep adding flags and commands to the scripts.

[2022-02-22 14:39] asraa commented on #98
@dlorenc @joshuagl @bobcallaway do you have any feedback on this? I'd like to get this done in the next week so I can test run  v3

[2022-02-23 15:42] bobcallaway opened #120 "Upcoming keyholder rotation!"
@mnm678 @SantiagoTorres @dlorenc @lukehinds @bobcallaway
CC: @asraa @haydentherapper

Hi fellow keyholders!

We're approaching the time where we need to rotate key holders on the sigstore public TUF root, so there a couple of things we need to pull together to prepare:
* Deciding who rotates off
* Establishing guidelines for the set of keyholders
* Who we propose to add in this rotation

**_We sho

[2022-02-23 18:04] Hayden-IO commented on #120
How do we pick a new keyholder? Should it be decided by the members of the TAC? TAC plus the current keyholders? We also could ask for members of the community to self-nominate, but I don't want this to become too process-heavy (how then do we decide on a keyholder if there's many nominations? Vote? TAC?).

[2022-02-23 18:20] dlorenc commented on #120
Maybe self-nominations, then let the existing key holders choose/vote out of them. That way they can help ensure the representation/geographic diversity goals.

[2022-02-23 18:34] Hayden-IO opened #121 "Create staging environments"
We need a staging environment for two purposes:
1. Testing the TUF remote before it's used by Cosign. This is like a "pre-prod" environment, where the keys and targets are the same as production.
2. Creating TUF metadata for the Sigstore staging environment, which will have a different set of targets. We should use a different set of target signing keys.

Let's create a GCS remote for each case.

[2022-02-23 18:35] Hayden-IO commented on #121
cc @asraa @dlorenc

[2022-02-23 19:33] asraa commented on #121
We also definitely should turn on object versioning on the GCS bucket. I can't tell what made the root corrupt exactly (why snapshot.json was a mismatched size. I could speculate that different versions got on there, but I don't have visibility now).

This might mean creating a new GCS bucket.

I think we should use an entirely separate root to mimic it as close as possible. Parsing/using delegati

[2022-02-23 20:10] Hayden-IO commented on #121
Object versioning can be enabled for existing buckets - https://cloud.google.com/storage/docs/using-object-versioning#set

Worth noting that cost might be something we have to consider long-term, so we could also set the "lifecycle rules" as per the documentation

[2022-02-23 20:26] #96 closed, assigned to asraa

[2022-02-24 08:12] cpanato commented on #120
I would like to nominate myself :)

are we planning to open an issue and people nominate/self-nominate?

[2022-02-24 08:13] lukehinds commented on #120
If it goes too random and it's one of the holders from the academic world, then we should really get someone from that sector rotated in.

The other factor we might want to consider is having vendor diversity, I don't know if we would get a set of 3 different vendors like we have now, but we should do our best to achieve this if we can, or at least close to it. #EDIT can see Dan already highlighte

[2022-02-24 14:17] joshuagl commented on #120
Not sure I meet enough criteria, but would like to nominate myself.

[2022-02-24 14:23] dlorenc commented on #120
Yeah, this is why I think it's best to let the existing keyholders use a bit of discretion in picking out of the nominees.

[2022-02-28 18:18] Hayden-IO commented on #93
@asraa, did you have any updates on this?

[2022-03-01 15:46] asraa commented on #93
Hey! I think my first next step is to "gently" update go-tuf: I think we're going to have some roadblocks in delegations with that (since it might break our auto-updates because one delegation is expired), so I'll try my best to match what will happen.

I think at this point it's best to not be too ambitious with my init from config, so I'm going to keep the scripts as is and add a new delegation

[2022-03-01 17:57] elfotografo007 commented on #120
I vote for @joshuagl

[2022-03-01 18:08] bobcallaway commented on #120
On today's community call, @SantiagoTorres was the (un)lucky keyholder selected to rotate off this cycle.

[2022-03-01 18:10] lukehinds commented on #120
And further to this, it should be a replacement from the academic world.

[2022-03-01 18:12] SantiagoTorres commented on #120
That's unfortunate. How many academics do we have on the list right now?

[2022-03-01 18:13] lukehinds commented on #120
Just Marina, minus yourself.

[2022-03-01 18:14] SantiagoTorres commented on #120
I'm a little surprised this vote came in today to be quite honest. I knew it was coming in a community meeting, but not this one

[2022-03-01 18:14] asraa commented on #120
It was a random selection, btw! We do not want you to go :/

[2022-03-01 18:15] SantiagoTorres commented on #120
Haha no, I understand! I just would've liked it to be there...

[2022-03-01 18:15] lukehinds commented on #120
yep, it was a random generator with a range of 5, not a vote.

[2022-03-01 18:17] SantiagoTorres commented on #120
Either way, how shall we proceed. I believe my bit is a NOOP or do I need to sign part of the rotation?

[2022-03-01 18:18] asraa commented on #120
Your signature would be a valid sign as part of the sign off on the new keyholders (but since we only need 3 as a threshold you don't need to, since there's 3 overlapping). So totally up to you!

I think we need more academic nominees :)

[2022-03-01 18:20] SantiagoTorres commented on #120
Got it! I think even if symbolic it'd be nice if I signed off. I'll also try to find and push an academic in the community to nominate themselves :)

[2022-03-01 19:50] trishankatdatadog commented on #120
Do I count as an academic or is too late? 😂 I was thinking of adding Datadog to list of orgs/companies involved in collaborating with sigstore, especially considering our work on go-tuf.

If it's not kosher, either @cpanato or @joshuagl sound like fine candidates to me!

P.S. If it helps, I already have a YubiKey with 4096-bit RSA GPG key on it, so might help with cryptographic diversity...

[2022-03-01 20:20] lukehinds commented on #120
I actually nominated you out loud on the community call , and then realised seconds later you have graduated!

To the rest of the thread, would we be open to an academic who has yet to contribute? I was thinking of someone like Justin Cappos

[2022-03-01 20:23] lukehinds commented on #120
Ah do you know what, I will take one for the team. Let's keep @SantiagoTorres, I will drop off and then we can vote on the pool who have nominated (trishank, carlos joshua)

Just gave me credit as a past key holder on the readme.

[2022-03-07 16:39] asraa opened #137 "Documentation: Enhance linux instructions"
**Description**

I hit an error earlier:
[code]

We should add some docs for keyholders who hit this error to start and enable the pcsd daemon if they hit this issue
[code]

[2022-03-07 16:59] Hayden-IO commented on #137
Also worth checking what distros aren’t shipped with systemctl. init.d is another option.

[2022-03-07 22:28] dlorenc commented on #120
OK - to summarize, the existing key holders will choose the next one out of a pool of self nominees. Luke has graciously volunteered to step down, thanks @lukehinds for your time on the rotation!

Let's do a "call for nominees" tomorrow in the community meeting to get our full list, then the keyholders can choose next week.

[2022-03-09 19:50] asraa opened #141 "Tagging "releases": Capture state at each root-signing event"
**Description**

This would be helpful to tag so that we can easily fetch the state of the repo initialization scripts for each root signing event.

I am testing a v3 change and realized it is probably easiest for me to "init" v1 w/ the v1 scripts, and so on.

[2022-03-10 16:32] nsmith5 commented on #120
👋🏻 Hey folks I'd like to nominate myself. I've been meaning to learn more about the TUF root and I think this would help me do that. I'm active in the community and I've got a couple hardware keys I can use for this :) Either way, I'm looking forward to watching the rotation to learn how it all works in practice

[2022-03-10 21:36] asraa opened #142 "Check TUF Key ID output in verification"
**Description**

Verifying keys now prints out the TUF key ID for better matching. However, this truncates the ID (probably an int conversion issue)

[code]

[2022-03-11 09:25] Foxboron commented on #120
Yo,
I'd like to nominate myself. I'm sadly not super active in the community because my FOSS engagement is mostly bound to my spare time. I'm from Norway and have access to several hardware tokens for securing the keys.

[2022-03-15 15:08] #142 closed, assigned to nobody

[2022-03-15 15:08] #137 closed, assigned to nobody

[2022-03-15 16:42] asraa opened #146 "Enhance metadata verification"
**Description**

Currently the output of staged metadata verification looks like this after init
[code]

* Add expirations
* Add version information
* Add any signature's key IDs
* Add delegations

[2022-03-18 08:55] lukehinds commented on #120
I would like to nominate Lily Sturmann  / @lkatalin

She has done a lot of work over the past few months to get the sharding API and is someone I know is quite passionate about community transparency / open source.

[2022-03-24 16:24] asraa commented on #146
Also, verifying staged meta will use the snapshot/timestamp that's committed instead of registering that there is none. Let's scope the meta to only staged meta...

Staged verification OK
[code]

_Originally posted by @asraa in https://github.com/asraa/test-sigstore-root/issues/68#issuecomment-1077806576_

[2022-03-24 18:32] asraa commented on #146
Most fixed in Now fixes https://github.com/sigstore/root-signing/pull/139/commits/cc17fbfa6af3a193d2f909e97b9b75a6ea4150d6

Remaining: Add delegations (high priority) and signer key IDs (low priority)

[2022-03-24 20:53] asraa opened #149 "Automate notification of new root to keyholders"
**Description**

And re-signing on any config changes.

Notify keyholders after the action runs.

[2022-03-29 02:19] dlorenc opened #151 "Reenable the sync to GCS"
We turned this off during the corrupted root a few weeks ago, we can turn it back on now!

cc @asraa

[2022-03-30 16:01] #151 closed, assigned to nobody

[2022-04-08 07:31] tetsuo-cpp commented on #103
@jku When you truncated to seconds, did you end up getting this error in `python-tuf`?
[code]
I'm just wondering whether that's what caused you to open https://github.com/theupdateframework/python-tuf/issues/1866 or whether I'm hitting a different issue.

[2022-04-08 07:56] jku commented on #103
I mean yes I found both issues while I was doing a manual interop testing round -- the issue you found is a related one: our error handling was quite poor.

Current state to my knowledge is:
* metadata with ecdsa keys created by go-tuf is not specification compliant: https://github.com/theupdateframework/go-tuf/issues/223
* python-tuf does not have workarounds to support this non-compliant format:

[2022-04-08 08:00] tetsuo-cpp commented on #103
Ah thanks @jku, that makes sense. I missed the key format issues.

[2022-04-12 23:55] Hayden-IO opened #161 "Add Fulcio intermediate CA certificate to targets"
**Description**

[2022-04-12 23:55] Hayden-IO commented on #93
@asraa , added #161 to the list of tasks

[2022-04-13 15:27] asraa commented on #161
Do you have the CA pool ID that I can use to get the PEM? If so I'll create a PR -- I'm going to split up the major PR into multiple changes

[2022-04-13 17:56] Hayden-IO commented on #161
I'll send you the PEM in O(1) days, I need to set up the signing key too.

[2022-04-14 20:05] Hayden-IO commented on #161
New intermediate, let's name it `fulcio_intermediate_v1.crt.pem`
[code]

The root below is already a target, `fulcio_v1.crt.pem`. We can move `fulcio.crt.pem` to inactive.
[code]

[2022-04-15 02:12] dlorenc opened #166 "Size mismatches on the last root"
I rolled back in #165, this was introduced in #163.

cc @haydentherapper @asraa

[2022-04-15 14:42] asraa commented on #166
Investigating what's going on... the post-submit run verifying the published repo in this repository succeeded, and shows the corrupt version 24 update
https://github.com/sigstore/root-signing/runs/6033149661?check_suite_focus=true

Then the postsubmit on the revert (before sync runs) also shows the remote update successful to version 24s
https://github.com/sigstore/root-signing/runs/6033437058?ch

[2022-04-16 21:42] dlorenc commented on #166
Here's the exact error:

[code]

[2022-04-16 22:17] dlorenc commented on #166
OK, I did a bit of debugging. The problem appears to be some sort of eventual consistency in the GCS API. When cosign fetches the contents over the http API, we're receiving the old version of the object. I verified this with curl. When you fetch over the GCS api, we get the new, valid version:

https://gist.github.com/dlorenc/f3861bf76d13f09fd942ddefac79f86b

[2022-04-16 22:20] dlorenc commented on #166
I'm guessing it's related to this: https://cloud.google.com/storage/docs/caching

The default cache-control time is one hour. We should drop that on all these objects.

< cache-control: public, max-age=3600
< age: 3125

[2022-04-17 12:16] dlorenc commented on #166
Working now!

[2022-04-17 12:19] #166 closed, assigned to nobody

[2022-04-17 13:16] znewman01 opened #171 "Race condition when publishing new TUF metadata to GCS"
From [actions workflow](https://github.com/sigstore/root-signing/actions/runs/2179900395):

[code]

GCS has consistency [*within* objects, but not *across* objects](https://cloud.google.com/storage/docs/consistency). That is, if a client attempts to download the TUF metadata after `snapshot` is updated but before `timestamp.json` is finished updating, they might get a mismatch.

Possible solutions

[2022-04-17 17:15] Hayden-IO commented on #171
Would enabling consistent snapshots (which we are doing for the new root) along with copying in a specific order be sufficient? From the GCS docs, it notes that when we receive a success response, the object is available. If we write in a specific order, starting with the targets, then uploading targets metadata, snapshot metadata, the time stamp, then root (the reverse order that TUF reads metada

[2022-04-17 18:06] znewman01 commented on #171
I don’t believe so. If we do timestamp first, a client who grabs it in the middle has the new hash of snapshot.json but the old snapshot. If we do snapshot first the client will have the old hash of snapshot.json from the old timestamp.json with the new snapshot.json

[2022-04-17 21:14] Hayden-IO commented on #171
I'm proposing we do snapshot before timestamp. For the normal TUF update flow, a client shouldn't request the new snapshot until the new timestamp has been uploaded, so even though they'll be a brief period where there's a mismatch in the remote, I think this should be fine.

[2022-04-17 21:44] znewman01 commented on #171
I'm still worried about the following sequence of events:

1. Repo uploads new `snapshot.json`
2. Client fetches old `timestamp.json`, validates signatures etc. ([section 5.4](https://theupdateframework.github.io/specification/latest/#update-timestamp))
3. Client fetches new `snapshot.json`, then fails when validating its hash ([section 5.5.2](https://theupdateframework.github.io/specification/lat

[2022-04-18 02:58] Hayden-IO commented on #171
Snapshots themselves are [versioned](https://theupdateframework.github.io/specification/latest/#update-snapshot), so in this case, when the client fetches the old timestamp, it would request the older snapshot, due to the older version number in the timestamp.

It would be nice if there was GCS support for uploading a set of files and only making them available once all have been uploaded.

[2022-04-18 10:07] znewman01 commented on #171
Whoops, I read the consistent snapshots part of the spec like 3 times yesterday and somehow missed that it applies to metadata files too…

It seems like the important thing is to push the new timestamp.json *last*, and the order otherwise doesn’t matter. Except now there’s a problem with pushing a new root.json that updates the timestamp role I think—-clients keep grabbing root.json versions until

[2022-04-18 13:58] asraa commented on #171
I think you're right here that there's a root/timestamp race condition still possible. It's starting to seem appealing to do distribute as a tar-file, but then the major downside I see here is that you can't lazily download target files.

OTOH the frequency of root updates is very small... I don't like fixing this client-side because not every client should be responsible for handling this, but sh

[2022-04-18 16:05] Hayden-IO commented on #171
Yea, as the size of the repository grows, we will need to support per file downloads.

Good point about the race between root and timestamp. For now we may just have to rely on the fact that the root is rarely updated.

Fetch the root, fetch timestamp, fetch root again?

[2022-04-18 16:06] znewman01 commented on #171
Well, you could do a `.tar` of just the root files and `timestamp.json` :) But that feels really gross/hacky.

Yeah, I don't think this is a huge priority, it's mostly theoretical.

Well, if we do it inside of TUF client libraries that feels a little bit more reasonable.

Yeah, I think retries would probably be nice and handle this often enough that we can ignore the issue. That's what I'm leaning

[2022-04-18 19:34] trishankatdatadog commented on #171
Hrm, sounds like we really should support writing and reading consistent snapshots. I've seen versions of this problem with S3 before. Is anyone up for sending a PR? It shouldn't be that hard...

[2022-04-18 19:59] Hayden-IO commented on #171
To clarify, are consistent snapshots not implemented in go-tuf?

[2022-04-18 20:04] asraa commented on #171
Maybe you mean here? FWIW we're slating that for the next root

[2022-04-19 19:09] trishankatdatadog commented on #171
I have't looked into whether consistent snapshots are supported in go-tuf 🤔

[2022-04-19 20:29] asraa commented on #171
They are!

[2022-04-20 17:52] trishankatdatadog commented on #171
Awesome possum: so we just need to turn it on

[2022-04-28 20:31] Hayden-IO commented on #121
Staging remote has been created with the Fulcio root and intermediate, Rekor pubkey, and CT log pubkey. The bucket is called `tuf-root-staging`. Assigning the bug to @asraa for creation of a preprod environment.

[2022-05-06 17:35] asraa commented on #161
Closed in #179

[2022-05-06 17:36] asraa commented on #146
Now done in v3-staging
https://github.com/sigstore/root-signing/pull/177

[2022-05-06 17:36] #146 closed, assigned to nobody

[2022-05-06 20:20] asraa commented on #103
Going to make a separate issue about the ECDSA key format -- this will be tough because root keys will have different key IDs if we immediately switching the encodings.

[2022-05-06 20:21] asraa opened #198 "Compatibility: Python-tuf does not accept ECDSA keys with hex-encoded public keys"
**Description**

See https://github.com/sigstore/root-signing/issues/103#issuecomment-1092563565

[2022-05-10 22:02] allstar-app[bot] opened #222 "Security Policy violation Branch Protection"
_This issue was automatically created by [Allstar](https://github.com/ossf/allstar/)._

**Security Policy Violation**
Block force push not configured for branch main

---

This issue will auto resolve when the policy is in compliance.

Issue created by Allstar. See https://github.com/ossf/allstar/ for more information. For questions specific to the repository, please contact the owner or maintaine

[2022-05-10 22:08] Hayden-IO commented on #222
@dlorenc lol

[2022-05-10 22:08] Hayden-IO commented on #222
This is intentional - we needed to force push to main to rollback.

[2022-05-10 23:24] dlorenc commented on #222
Haha yep! Good smoke test of the bot :)

[2022-05-11 07:41] cpanato commented on #222
if we need the force push we need to override this rule for this repo

[2022-05-11 15:25] Hayden-IO commented on #222
We can now re-enable the protection.

[2022-05-11 15:57] cpanato commented on #222
updated

[2022-05-11 15:57] #222 closed, assigned to nobody

[2022-05-17 14:46] asraa commented on #161
Reopening because not resolved quite yet

[2022-05-17 16:11] asraa opened #237 "E2E testing: Create go e2e tests creating a repository and testing initialize"
**Description**

* We would need to refactor the scripts and commands to
* (1) be Key agnostic
* (2) Be repo store agnostic (use a temp filestore or in-memory)
* (3) Be callable from a golang and have no repo processing in the script directories.

We will need to be very careful of making these changes in order to not disturb the current repo management workflows.

[2022-05-18 15:46] asraa opened #240 "tests: Add cosign tests for the published repository on presubmit (embedded, and initalize)"
**Description**

Both unit, e2e, and presubmit.

[2022-05-18 17:04] asraa opened #242 "conformance: Add python/rust TUF client presubmits to published repository"
**Description**

[2022-05-18 23:36] Hayden-IO commented on #121
This issue will now be focused on the creation of the preprod environment.

[2022-05-19 17:40] Hayden-IO opened #246 "credentials_file_path is deprecated for OIDC auth to GCP"
**Description**

[credentials_file_path](https://github.com/google-github-actions/setup-gcloud#authentication-inputs) is deprecated - We should update the sync scripts.

[2022-05-31 04:35] tonistiigi opened #254 "Clarify the usage of each key"
**Description**

Some suggestions for docs improvement.

For a new user evaluating the trustworthiness of these roots it would be good if there were some notes about how each of the keys listed in the repository is used.

There is a list of keyholders, but I couldn't see how to map them to the actual keys. For the non-root keys as well, I didn't find a description of who is the owner of a key or w

[2022-05-31 15:16] asraa opened #255 "deps: Update go-tuf to v0.3.0"
**Description**

Attempted in https://github.com/sigstore/root-signing/pull/196

Blocked on next release of sigstore/cosign:

[code]

**Version**

[2022-05-31 21:35] #254 closed, assigned to asraa

[2022-06-03 21:35] Hayden-IO opened #260 "Add playbooks to handle failures during signing ceremony"
**Description**

[2022-06-03 21:35] Hayden-IO opened #261 "Create playbook for running scripts and updating a root on GitHub"
**Description**

[2022-06-03 21:36] Hayden-IO opened #262 "Add testing playbook for steps to thoroughly test new root"
**Description**

This should include testing `cosign initialize`, testing without a cache that then gets written to disk, and testing without a cache with metadata in memory

[2022-06-03 21:37] Hayden-IO opened #263 "Add prober to exercise `cosign initialize`"
**Description**

The current prober only tests the workflow without a local cache.

[2022-06-03 21:38] Hayden-IO opened #264 "Add more documentation to code to ease debugging"
**Description**

[2022-06-03 22:04] Hayden-IO opened #265 "More maintainers for repo"
**Description**

We need a list of requirements to be a maintainer here. This should include:
* Strong understanding of TUF specification
* Good understanding of go-tuf
* Good understanding of repo automation
* Rough understanding of signing ceremony

[2022-06-03 22:05] Hayden-IO opened #266 "Remove delegate target rekor.0.pub from top-level targets"
**Description**

**Version**

We need to make sure the Cosign tests are robust ([ref](https://github.com/sigstore/cosign/blob/aad7c5fcd6e5f854ae48a57e42919039e6d219c0/pkg/cosign/tuf/client_test.go#L330))

[2022-06-03 22:06] Hayden-IO opened #267 "Correct the generation of expirations for metadata"
**Description**

**Version**

the snapshot was generated with the wrong expiration) (Generate expiration as Now + 2/3 weeks)

[2022-06-03 22:07] Hayden-IO opened #268 "GCS sync script should not allow expired metadata to be synced"
**Description**

[2022-06-03 22:12] Hayden-IO opened #269 "Fix small bug in step 5 script around copying the repository"
**Description**

**Version**

The guard ([ -f $REPO/repository/*.root.json ]) was not working

[2022-06-03 22:12] Hayden-IO opened #270 "Update all references to repository/repository before next signing"
**Description**

**Version**

[2022-06-03 22:13] Hayden-IO opened #271 "Create test playground to exercise signing ceremony with fake keys"
**Description**

[2022-06-03 22:13] Hayden-IO opened #272 "Document keyholder responsibilities"
**Description**

[2022-06-03 22:13] Hayden-IO opened #273 "Set up calendar for testing and signing ceremony"
**Description**

[2022-06-06 14:28] asraa commented on #269
Seems like this code was in the `v3-staging` branch to clear out old files
https://github.com/sigstore/root-signing/blob/v3-staging/scripts/step-5.sh

and is not in main
https://github.com/sigstore/root-signing/blob/main/scripts/step-5.sh

Closing, but creating a new issue around helper scripts to help modularize the script code.

[2022-06-06 14:29] asraa opened #275 "Add helper scripts to reuse functionality across the scripts/"
**Description**

* Opening a PR
* Pushing or not
* Printing state

[2022-06-06 14:29] asraa commented on #269
https://github.com/sigstore/root-signing/issues/275

[2022-06-06 14:29] #269 closed, assigned to nobody

[2022-06-06 14:37] asraa commented on #246
This is for the `setup-gcloud` action, not for `auth`.

https://github.com/google-github-actions/auth#other-inputs

I'm confused, maybe it used to be an option for `setup-gcloud`?

[2022-06-06 14:52] #255 closed, assigned to nobody

[2022-06-06 15:00] asraa commented on #267
This might have been because the `Init` step adds snapshot signers with default expiration (7 days) and THEN the `Snapshot` command changes it to 2 weeks. So if a rollback was done on init, then maybe the incorrect expiration came about.

This PR will fix this uniformly in both places https://github.com/sigstore/root-signing/pull/276

[2022-06-06 15:44] #103 closed, assigned to nobody

[2022-06-06 15:44] #267 closed, assigned to nobody

[2022-06-06 19:36] Hayden-IO commented on #246
I assume so - The AI might just be to wait until `auth` has a different solution

[2022-06-13 14:45] #275 closed, assigned to nobody

[2022-06-13 17:04] #266 closed, assigned to nobody

[2022-06-13 20:35] asraa commented on #161
Resolving because it is present in the targets config so will be present in the next root signing.

[2022-06-13 20:35] #161 closed, assigned to nobody

[2022-06-13 21:00] asraa commented on #273
Done
https://calendar.google.com/calendar/embed?src=c_rv21p2n32lnbhanniqp9r352mo%40group.calendar.google.com&ctz=America%2FChicago

[2022-06-13 21:00] #273 closed, assigned to nobody

[2022-06-14 18:27] #237 closed, assigned to asraa

[2022-06-23 13:54] asraa opened #287 "Investigate: Root newline change in snapshot update #286"
**Description**

Investigate:
* The root cause of why newlines were removed from root/targets in the snapshot update from #286
* Why GitHub Actions was not triggering validate

@joshuagl @dlorenc

[2022-06-23 14:37] asraa opened #288 "Enhancement: Store the current keys/ folder under the top-level repository/"
**Description**

Right now `repository/` just contains the published metadata. It would be nice to store the current keys, so that I don't have to cp from the previous repo ceremony directory when I chain init fromthe next. When I do that, I need to grab updated snapshot/timestamp from the published repository.

If I store keys/ in the published repo, then the previous repo always becomes `reposit

[2022-06-23 15:47] Hayden-IO commented on #288
`repository/repository` is mirrored to GCS currently, and we don't need to mirror the keys too. One option which could increase clarity is having an `output/` directory, and under that, `keys/` and `repository/`. Do you think that would help?

[2022-06-28 12:40] asraa commented on #288
Thanks! Yes, `repository/repository$f` files are mirrored, NOT `repository/keys`, so that wouldn't get mirrored, as far as I can tell.

https://github.com/sigstore/root-signing/actions/runs/2549597503/workflow#L46-L51

[2022-06-28 14:18] asraa opened #290 "bug: allow specifying terminating delegation"
**Description**

**Version**

[2022-06-28 14:26] asraa opened #291 "docs: Add delegation documentation to README.md"
**Description**

**Version**

[2022-06-28 16:43] asraa commented on #242
@SantiagoTorres This would be a great addition! I'm thinking a github workflow like `tuf-client-test.yml`

Something similar to https://github.com/sigstore/root-signing/blob/main/.github/workflows/cosign-test.yml

but instead of cosign, python-tuf or rust-tuf, and even go-tuf for redundancy

[2022-06-28 21:13] asraa opened #293 "feat: support snapshot/timestamp key updates"
**Description**

Right now we won't revoke old keys if we update to a new snapshot or timestamp key.

**Version**

[2022-06-28 21:18] asraa opened #294 "feat: Add configuration verification for targets config"
**Description**

Not for docs: Another thing that might be useful to verify with a verification script, that usage and status are set for all targets

[2022-06-29 13:51] asraa commented on #98
Adding here with more feedback: we could and should have config validators.

[2022-06-29 16:37] SantiagoTorres commented on #242
Happy to take a look!

Just to make sure I understand, the idea would be to repeat that workflow using the other client tools and then add a consensus check to make sure we are cross-impl compatible?

[2022-06-29 16:38] asraa commented on #242
Yep! That's right. I want to make sure we catch regressions that might make break Python/Rust TUF clients (so that we can also start integrating into sigstore-python/rs)

[2022-06-29 16:39] SantiagoTorres commented on #242
Got it, let me take a look then...

[2022-06-29 16:39] #261 closed, assigned to nobody

[2022-06-29 17:21] Hayden-IO opened #297 "Switch from gcloud alpha storage to stable, use gcloud storage rsync when implemented"
**Description**

Tracking issue for cleaning up the usage of gcloud alpha. I don't think gsutil will support workload identity federation, so we will likely need to continue to use gcloud.

[2022-06-29 17:34] asraa commented on #290
Fixed by #296

[2022-06-29 17:34] #290 closed, assigned to nobody

[2022-06-30 18:05] #121 closed, assigned to asraa, Hayden-IO

[2022-07-01 16:48] asraa commented on #287
This is actually causing me problems in the verifier.
Before the newline was removed, the targets file had 3972 bytes. Old TUF clients (before commit https://github.com/theupdateframework/go-tuf/pull/247) cannot verify metadata with the newline:
[code]

The client at head CAN verify with either the newline present or removed.

----------------------------------

Now, however, when we initialize a

[2022-07-06 14:37] #272 closed, assigned to nobody

[2022-07-07 12:55] #270 closed, assigned to nobody

[2022-07-07 14:22] #268 closed, assigned to nobody

[2022-07-12 16:32] asraa commented on #98
cc @kommendorkapten

[2022-07-12 16:40] asraa opened #312 "feat: Support file-based keys for testing"
**Description**

To replace GCP test keysigner.

[2022-07-13 15:58] Hayden-IO opened #322 "Remove all targets before adding targets for a new ceremony"
**Description**

**Version**

Old targets like rekor.0.pub were left around.

[2022-07-19 16:12] asraa commented on #288
Completed

[2022-07-19 16:12] #288 closed, assigned to nobody

[2022-07-21 16:01] asraa commented on #263
I believe this is done. The prober in public-good-instance runs initialize, as well as the ones in this repo.

[2022-07-21 16:01] #263 closed, assigned to nobody

[2022-07-21 16:02] asraa commented on #93
v3 is done, a root keyholder was rotated in v4.

[2022-07-21 16:02] #93 closed, assigned to asraa

[2022-07-21 16:03] asraa commented on #242
Rust has been added. python-tuf remains. moving to v5 because it pends python compatibility.

[2022-07-21 16:14] asraa opened #329 "bug: python-tuf incompatibility because of hex-encoded ECDSA keys"
**Description**

Right now, python-tuf can't validate our root metadata because `go-tuf` used hex-encoded ecdsa keys, rather than what securesystemslib requires (PEM encoded keys). This is actually a hard problem (see go-tuf issue links) because of compatibility: if we change keys to be PEM-encoded keys, then the key material changes, preventing verification through a valid chain of roots.

Option

[2022-07-21 16:15] #240 closed, assigned to nobody

[2022-07-21 16:16] #198 closed, assigned to nobody

[2022-07-21 16:16] asraa commented on #329
See https://github.com/sigstore/root-signing/issues/103#issuecomment-1092563565

@jku

[2022-07-21 17:17] Hayden-IO commented on #263
@asraa, it looks like the prober only runs initialize for [staging](https://github.com/sigstore/public-good-instance/blob/21a185a3716a9652b476325d77ead4ce9fd8fdfa/.github/workflows/reusable-prober.yml#L164). However, now with the work that you've done, the two flows are almost identical, correct?

[2022-07-21 17:19] asraa commented on #263
All changes run through staging, right now there's no job that has access to push directly to prod. I assume that's why that prober references staging.

Yeah, I'm not sure what other flow we can test now.

[2022-07-21 19:10] mnm678 commented on #329
Can we do this, but also sign with the old keys to allow for a seamless transition? So existing keys a, b, c and PEM encoded keys from the same people A, B, C all sign the metadata that lists only A, B, C as the new trusted root keyholders.

[2022-07-21 19:15] Hayden-IO commented on #329
Question: What about other TUF implementations? Has everyone but python-tuf added support for hex-encoded keys?

[2022-07-21 19:15] asraa commented on #329
I see, dupe the old keys with hex-encoded and add their PEM-encoded files as well, so that we will have ~10 sigs in the root metadata.

That's a great idea!

[2022-07-21 19:15] asraa commented on #329
PEM-encoded keys are the specification, see links!

[2022-07-21 19:17] Hayden-IO commented on #329
I was curious if other implementations are broken too besides python-tuf. Otherwise, option (4) seems like a possibility, even if it's deviating from the spec.

[2022-07-21 19:18] asraa commented on #329
It's just go-tuf. Rust's `tough` implemented a work-around for go-tuf, but it was fundamentally just go-tuf's lack of compatibility with the ecosystem.

For context, in the linked issue https://github.com/theupdateframework/go-tuf/issues/223, it was because go-tuf couldn't canonicalize json with newlines. that's now fixed in go-tuf so this doesn't block go-tuf anymore, we now write json to the sto

[2022-07-21 20:21] woodruffw commented on #329
Sorry for butting in, but just to make sure I understand: this is a failure with `python-tuf`, but technically an error on `go-tuf`'s side, correct? As in, `go-tuf` uses hex-encoding for its key material instead of PEM, which violates the TUF spec?

This makes sense to me too. This also enables an eventual graceful transition to just PEM-encoded keys, right?

[2022-07-21 20:29] asraa commented on #329
Yes, exactly correct! So for python sigstore integrations, they would then be able to pin their trusted root at the next upcoming root version `v5`, and continue verification onwards for future updates, all keys will be PEM-encoded from then on.

[2022-07-22 11:22] joshuagl commented on #329
I like this idea.

[2022-08-02 18:41] asraa commented on #322
@cdris this is a pretty easy issue.

Right now we add targets that are given in the config https://github.com/sigstore/root-signing/blob/1445a1cf9c0d74a02b5f1495b6964f3c94f10523/cmd/tuf/app/init.go#L205

But we don't remove any pre-existing ones

Unless there's a remove all, we need to get the current target map and then remove any ones that weren't adding in the config https://github.com/sigstore

[2022-08-05 01:40] #322 closed, assigned to nobody

[2022-08-17 15:12] asraa opened #345 "feat: Add correctness testing presubmits for Sigstore TUF clients"
**Description**

https://github.com/sigstore/root-signing/pull/343#discussion_r948037846

This would
* Add verification of retrieved metadata (rather than only testing successful updates) in each TUF client
* Add Sigstore client verification against staged roots on presubmit

[2022-08-17 15:19] joshuagl opened #346 "Update python-tuf test for v5 root"
**Description**

https://github.com/sigstore/root-signing/pull/343 introduced a failing client test with python-tuf, once the v5 root is published we should be able to start using python-tuf without issues so ensure we:

* Update tests/client-tests/python-tuf.py to bootstrap from the v5 root
* Remove `continue-on-error` from the python-tuf step in .github/workflows/tuf_client_tests.yml

[2022-08-18 01:34] #242 closed, assigned to joshuagl

[2022-08-19 19:01] asraa opened #349 "GA: Organize key permissions for GCP KMS keys"
**Description**

1. Remove test & staging keys: contingent on https://github.com/sigstore/root-signing/issues/312
2. Move all online signing keys (the sigstore-root) to two separated GCP projects: one for delegations and one for snapshot and timestamp
3. Create service accounts in each of these projects that are configured with workload identity to access these keys for signing.
4. Create a final

[2022-08-22 18:52] Hayden-IO opened #352 "Create issue on GitHub Actions failure"
**Description**

We should have visibility into Actions failures. For example, if the snapshot/timestamp action failed to trigger, there is currently no visibility into this failure, and it would cause an outage for verifiers. Assuming this is supported by GHA, I propose filing an issue on failure and tagging the maintainers.

cc @asraa

[2022-08-22 18:55] asraa commented on #352
Sure, I can add an if-failed github issue

[2022-08-24 12:18] dlorenc commented on #352
As a backup we already have probers that run and verify the root isn't about to expire. , IIRC.

[2022-08-24 13:47] asraa commented on #352
Yeah there are probers verifying metadata is valid for the next 3 days, though. IMO not the hugest priority: I also get email alerts on fail. it's pretty easy to do though since i have a script for doing this in other repos anyway

[2022-08-29 15:34] asraa commented on #120
This is done now! We will re-open another one for the next root-signing rotation, and move over nominations

[2022-08-29 15:34] #120 closed, assigned to nobody

[2022-08-29 18:59] bobcallaway opened #357 "create proper tagged releases of this project"
see $title

[2022-08-31 17:57] #352 closed, assigned to asraa

[2022-08-31 18:21] asraa commented on #349
1. Removed sigstore-root test key (no longer needed) `projects/project-rekor/locations/global/keyRings/sigstore-root/cryptoKeys/test` and staging `projects/projectsigstore-staging/locations/global/keyRings/root-keyring/cryptoKeys/staging-test`

@priyawadhwa

[2022-08-31 18:27] asraa commented on #349
2. For online delegations keys: i need a sigstore group including keyholders and orchestrators (me, and others who can execute key signing ceremonies). AI: Create this group.
3. For snapshot/timestamp: only the workload identity people need access. Does that violate https://github.com/sigstore/sigstore/issues/467?

[2022-09-02 16:52] asraa opened #362 "Process improvement: Create a docker container to bundle code & configs"
**Description**

Downside is that people would need docker installed, but it would greatly simplify environment issues and running the code.

@bobcallaway thank you for the suggestion!

This would be nice to tackle in v6-v7. If we can get configs done in v6, then v7 would be a nice reasonable target for that.

[2022-09-02 17:01] #312 closed, assigned to nobody

[2022-09-07 19:09] asraa commented on #349
Discussion with Simon:
Concern here is that people with access with public-good-instance could do something with the service account that has access to the root signing keys.

AIs after discussing with Simon:
1. Create a GCP project hosting the online keys owned by tuf-team. These keys are: `projects/project-rekor/locations/global/keyRings/sigstore-root/cryptoKeys/rekor_delegation`, `projects/proj

[2022-09-07 19:35] Hayden-IO commented on #349
That sounds like a great approach.

Do we need a dedicated GCP project to host the keys? Or just better fine grained permissions?

[2022-09-07 21:41] var-sdk commented on #349
Finer grained permissions for use are possible. They would still be accessible by project-rekor (& public-good-instance) admins.

[2022-09-08 13:27] asraa opened #368 "Bug: Update tuf client tests with go-tuf to import deprecated ECDSA support"
**Description**

Presubmits on tuf client tests with go-tuf tuf-client is failing because it does not support the ECDSA hex-encoded keys unless we import a deprecated package.

**Version**

I will fix temporarily by pinning the tuf client version, and then resolve this issue when I write a simple wrapper that builds the client with the deprecated support.

[2022-09-12 14:04] asraa commented on #329
The plan for the PRs (started https://github.com/sigstore/root-signing/pull/372) will be that I will create four separate PRs with the following changes and testing:
1. Bump go-tuf and no change in functionality. Hex-only ecdsa keys.
     * Testing: Verify that hex-encoded keys were used, and that repos verify.
2. Update HSM key parsing logic to allow for parsing into hex and parsing into PEM.

[2022-09-12 16:36] trishankatdatadog commented on #329
I wish there was a way to say in TUF: "Count only 1 towards the threshold out of these N same public keys (even if they look or are different)."

[2022-09-12 16:57] asraa commented on #293
We now need to require this for v5, since we have to revoke and update the online signers to the PEM encoding.

[2022-09-19 15:57] asraa opened #381 "cleanup: Clean-up the hex-to-ecdsa migration code"
**Description**

Clean up any explicit flags permissing deprecated TUF public keys.

[2022-09-20 19:32] asraa opened #383 "deps: Remove dependency on sigstore/cosign"
**Description**

https://github.com/sigstore/root-signing/pull/380#discussion_r975696399

We currently use some methods from sigstore/cosign (for example, `SignerVerifierFromKeyRef`) and we should ideally only be using methods from sigstore/sigstore.

Also see sigstore-go: https://docs.google.com/document/d/1aZfk1TlzcuaO0uz76M9D26-gAvoZLn0oCAKvkbuhcPM/edit#heading=h.fw3hnltgfsqv

[2022-09-20 19:45] #329 closed, assigned to nobody

[2022-09-21 16:55] #293 closed, assigned to nobody

[2022-09-22 16:28] Hayden-IO opened #389 "Include new CT log key in v5 targets"
**Description**

We need to rotate the CT log key because it was checked into public-good-instance. We will be created a new shard. If the v5 signing is going to happen before we shard, then we should create the new signing key in advance.

cc @vaikas

[2022-09-22 17:36] vaikas commented on #389
Indeed. When is the v5 signing slated to happen?

[2022-09-22 17:39] Hayden-IO commented on #389
@asraa for the date - testing is happening now-ish.

I think we can just frontload the generation of the new key material. It doesn't need to go into KMS or anything, so we don't need to figure out resource names yet.

[2022-09-22 17:49] asraa commented on #389
Slated for Tuesday, and the target only needs to committed to `targets/` sub-folder here and an addition or the entry in `configs/targets-metadata.yml`

Let me know!

[2022-09-22 18:23] Hayden-IO commented on #389
@vaikas , if I create the secret now on my local machine, will that be fine? Or is it expected that the createctlog job will handle secret creation?

[2022-09-22 21:00] vaikas commented on #389
I think that's fine with me if it's fine with others. I need to add support for CTLog re-using existing key as discussed here:
https://github.com/sigstore/public-good-instance/issues/524#issuecomment-1254332280

So, I'll need to add support for reading the Key from a secret anyways to support ☝️ . So, I guess as long as we have a way to get this into a secret on the cluster this should be fine. WD

[2022-09-22 22:53] Hayden-IO commented on #389
That sounds great. I assume to get it into a secret, we just need someone to manually add the secret to GCP Secrets and then have some way that it's loaded into the cluster.

[2022-09-22 23:06] Hayden-IO commented on #389
If the key is in a secret and loaded into the cluster via a file, do you see any reason to encrypt the key? I don't think it adds anything, because the password would come from another secret, and in the event of a compromise, both secrets could be obtained.

[2022-09-22 23:10] Hayden-IO commented on #389
Generated with:

[code]

[2022-09-23 14:14] #389 closed, assigned to nobody

[2022-09-26 20:31] asraa commented on #389
@haydentherapper could you please update the README as well? (may add as a TODO comment or note that supported in v5)

[2022-09-26 20:32] Hayden-IO commented on #389
on it!

[2022-09-27 13:31] asraa opened #398 "Delegation tracking issue"
**Description**

I'm making an executive decision to remove delegations until a further root-signing event. The reasoning is that there are many issues in using delegations practically and we are still making a final change to target name-spacing in this next root (by namespacing targets by usage).

I think if we rotate Rekor or need to rotate a target, it's easiest to set up a new signing.

I pro

[2022-09-27 13:38] joshuagl commented on #398
I think this is a smart move. Let's not rush delegations in, let's take the time to do them right. Targeting v6 sounds good to me!

[2022-09-27 13:43] kommendorkapten commented on #398
Agree with @joshuagl. As I understand it, none of the delegations (rekor, revocation) are critical now, the Rekor keys are already defined as top-level targets. We could add the revocation list if needed as a top-level target, with a new signing as suggested by @asraa.

[2022-09-27 13:53] dlorenc commented on #398
sgtm

[2022-09-27 14:15] mnm678 commented on #398
I agree that waiting until the next root will help avoid potential complications with the signing.

I'd also like to propose a follow-up to the delegations (either in the next root or the one after) that allows sigstore to create namespaced delegations to Fulcio identities so that users can determine which identities should be used to verify particular signatures.

[2022-09-27 15:04] asraa commented on #398
Cool, thank you! Could you open a separate issue so we can discuss format? I think we decided on a new namespaced usage like `verification_material/*`

[2022-09-27 16:14] mnm678 opened #401 "TUF Delegations to Fulcio identities"
We can use the TUF root of trust to create namespaced delegations to Fulcio identities for particular artifacts. This would allow verifiers to determine which identity should be signing a given artifact.

To do so, we need a couple of things:
- [ ] delegation from the TUF root of trust to a role that will create these delegations (related to #398)
- [ ] implementation of the Fulcio TAP that allows

[2022-09-27 17:45] Hayden-IO commented on #398
LGTM

[2022-09-27 18:33] #349 closed, assigned to asraa

[2022-09-28 15:34] asraa opened #413 "Tests: Add testing to detect rollback attacks by using prior state"
**Description**

Right now, we test against client states that just include initial/recent roots.

We should also be testing with clients that have some recent state, e.g. a prior root-signing: this way we can detect roll-back attacks, and would have detected the version issue https://github.com/sigstore/root-signing/pull/327/files

Detected in https://github.com/sigstore/root-signing/pull/410

cc

[2022-09-28 16:57] asraa opened #416 "Test: Create a "dry-run" root signing event to test compatibility"
**Description**

It is currently difficult to asses client compatibility when we update workflow operations before we complete signing or using manual review.

In order to do this, we would need to substitute our signers for test ones that we can automate signing and workflow operations for. I propose something like the following:

In order to automate complete steps, we'd need access to the GCP &

[2022-09-29 01:03] Hayden-IO opened #422 "Write postmortem for brief outage"
**Description**

Root cause: Failed snapshot and timestamp a week ago. This was caught and fixed two days ago. Preprod takes three days to promote, so it hadn't occurred yet. Prod timestamp expired.

Fix: Trigger sync manually. Roll back usage of new keys.

* Create playbook entry for manual preprod->prod push
* Create playbook entry for manual snapshot syncing (which was failing, but good to know

[2022-09-29 01:07] asraa commented on #422
Not sure if this is possible, but instead of using a scheduled job every 7 days, we should consider scheduled the snapshot/timestamp and sync workflows EVERY day and re-signing or re-syncing every 7th where it wasn't signed/uploaded

between the 5 days and the 2 days ago where it was fixed, there were no retries.

for example, if the snapshot fails and nothing is synced, and syncing  occurs every

[2022-09-29 01:23] asraa commented on #422
Other root cause:
* The probers weren't running properly https://github.com/sigstore/public-good-instance/actions/runs/3147659301/jobs/5117373827

[2022-09-29 01:25] asraa commented on #422
And the prober failed to page here:
https://github.com/sigstore/public-good-instance/actions/runs/3147812565/jobs/5117703868

[2022-09-29 14:14] asraa commented on #422
Two reasons the probers weren't running correctly:
(1) There was a fix PR here, but the public-good-instance cached the verify version: https://github.com/sigstore/root-signing/commit/a46baa76578ebd5a32bf6da56ea18aada9feb88b
(2) There was an error where one return path did not exit with status 1: https://github.com/sigstore/public-good-instance/blob/main/prober/hack/toolz/go.mod

When the second P

[2022-09-29 14:18] asraa commented on #422
The reason why the snapshot/timestamp job failied was not because of the key rotation update, but because of the lack of a flag in the script: https://github.com/sigstore/root-signing/commit/e0ca67cf431ac3e0d56ff22c917aea1146709a61

[2022-09-29 17:32] Hayden-IO opened #424 "Unrevert change to GCP KMS keys before root signing is done"
**Description**

I thought this was the issue, so I reverted to the original KMS keys. We need to switch before we're done with root signing.

Context: https://github.com/sigstore/root-signing/issues/422

[2022-09-29 17:33] Hayden-IO opened #425 "Create playbook for TUF root issues"
**Description**

* Manually syncing preprod to prod
* Manually creating new snapshot/timestamp

[2022-09-29 17:33] Hayden-IO commented on #425
cc @asraa

Context: https://github.com/sigstore/root-signing/issues/422

[2022-10-05 17:17] #424 closed, assigned to asraa

[2022-10-07 18:39] asraa opened #453 "Create staging and ceremony branches for root testing"
This is an idea in conjunction with @jku

**Description**

Currently, we perform all repository actions on the `main` branch. Ceremony directories are created and then merged to a top-level `repository/` folder. This makes it difficult to stage new types of configurations for new or staging/testing roots without affecting the "prod" level `main` branch configuration.

**Proposal**

In order to rea

[2022-10-07 18:45] asraa commented on #453
As to not interfere with the current flow of ceremony root-signing, I can try to create the `staging` branch first.

[2022-10-11 16:52] #422 closed, assigned to nobody

[2022-10-11 17:07] asraa opened #460 "AI: Trigger pre-prod sync after any changes to snapshot/timestamp"
**Description**

This would avoid someone having to manually trigger this workflow, in case snapshot/timestamp was manually triggered

**Version**

[2022-10-11 17:15] asraa commented on #460
This is already done; I just noticed:
https://github.com/sigstore/root-signing/blob/6f54c16f2cd0ea14e6a71a4dc2856f3f5b73dcf3/.github/workflows/sync.yml#L25

and confirmed it triggered here after a change to `snapshot.yml`
https://github.com/sigstore/root-signing/actions/runs/3176036178

@jku

[2022-10-11 17:15] #460 closed, assigned to nobody

[2022-10-11 17:18] asraa commented on #149
Done in https://github.com/sigstore/root-signing/commit/fbd45af5663f4518c8ba9564e91ba688a21ae2ce

Will need to figure out how to notify keyholders. Changing title.

[2022-10-11 17:22] asraa commented on #246
I think the solution here is to use the `auth` job followed by `setup-gcloud`, without creating a `credentials_file_path`.

like this example https://github.com/google-github-actions/setup-gcloud#workload-identity-federation-preferred

[2022-10-11 17:22] asraa commented on #246
Note that this option was not deprecated for `auth`: it was only deprecated for `setup-gcloud`, which we don't use!

[2022-10-11 17:23] asraa commented on #246
I guess we do use it in `sync`, but without that option. But either way, I'll put out a PR to cleanup our auth.

[2022-10-11 19:54] #297 closed, assigned to nobody

[2022-10-12 08:55] jku commented on #453
it's also possible that the ceremony branch could be a single branch with a well-known name:
* it makes sense that there is only one ceremony at a time
* with branches all changes end up in the history of the main branch: there's no need to store specifically named branches (you could still create specific tags when merging to main to document things)
* tool usage would be simpler -- no need to sp

[2022-10-13 15:19] Hayden-IO opened #466 "Tracking issue for Timestamp Authority chain in TUF targets"
**Description**

Once sigstore/timestamp-authority is deployed, we'll need to include the cert chain in the targets.

[2022-10-13 16:18] asraa commented on #466
Usage: TSA? I think that works.

[2022-10-13 16:35] Hayden-IO commented on #466
That sounds good.

[2022-10-17 11:13] jku opened #471 "Publishing state (prod/preprod) should be more visible"
It is difficult to see what is currently available in prod and preprod, compared to git content -- and difficult to see if their current state is a result of correct operation or a publishing issue.

I don't know what the correct fix is: just throwing some ideas out there:
1. An action that runs after every sync (and maybe also on cron) that actually fetches the prod, preprod and git main branch m

[2022-10-17 11:21] jku commented on #471
Option 1 is similar to tuf_client_tests.yml, except
* depends on prod and preprod to be reachable
* publishes metadata versions somewhere
* optional sanity checks on expected metadata versions

[2022-10-17 13:15] asraa commented on #471
Weirdly enough I had a dream this weekend where we dynamically published the values on the root-signing repository. +1 to this idea!

Having a table on the sigstore dashboard would be good -- the probers can probably manage this. I'm not sure how the sigstore dash is built or where it's hosted/what we can put on it, but that would b likely be the best way for on-callers to monitor state as well.

[2022-10-17 13:16] asraa commented on #471
Related: https://github.com/sigstore/public-good-instance/issues/714

[2022-10-17 13:17] asraa commented on #471
@priyawadhwa is the sigstore dashboard a thing or an idea? We can probably just start with a root-signing status page too.

[2022-10-17 14:09] joshuagl commented on #453
Using branches for ceremonies and merging into main (with tags) to keep a history of approved changes sounds like a really neat approach.

[2022-10-17 15:53] Hayden-IO commented on #471
Idea, it hasn’t been created yet. However, it was meant for debugging purposes and would be internal, not for public consumption, probably using Cloud Monitoring. If you want it for TUF, I’d create something else.

[2022-10-17 19:15] znewman01 commented on #171
I think we can close this out, since we're doing consistent snapshots and there's another issue to address this upstream: https://github.com/theupdateframework/specification/issues/223

[2022-10-17 19:15] #171 closed, assigned to nobody

[2022-10-20 06:09] Hayden-IO opened #496 "Add color to CLI output!"
**Description**

We can color important text.

It’d help us to notice issues, such as the number of valid signatures.

[2022-10-20 12:59] asraa opened #497 "Improve Verification on signing PRs: Detect correct repository and filtering output"
cc @kommendorkapten

**Description**

Currently, verifiers run something like:
[code]

This script runs an entire suite of verification commands that can apply to any type of PR run or repository (incomplete, complete).
https://github.com/sigstore/root-signing/blob/4c151b38b843f47b4bc5db4ad9a6f672d6fc7791/scripts/verify.sh#L55-L66

Instead, there are really only a few types of events verifiers nee

[2022-10-20 13:01] asraa commented on #497
@kommendorkapten also brings the point of when verifying newly initialized metadata and we don't expect any sigs, we are also looking to identify other properties than keys: is the data well-formed? what are the expiries? This isn't handled by any of the commands right now.

Also: that probably makes sense under `verifyStagedMetadata`. Verifying signatures probably should be called `verifySignatur

[2022-10-20 13:20] asraa opened #499 "Update sigstore/community for required status checks"
### **Description**

I finally realized how required status checks were managed when @haydentherapper mentioned it to me. Update the sigstore/community entry for root-signing to add required status checks for the TUF clients.

**Version**

[2022-10-20 20:41] github-actions[bot] opened #504 "[bug]: Updating workflow staging snapshot timestamp"
Repo: https://github.com/sigstore/root-signing/tree/main
Run: https://github.com/sigstore/root-signing/actions/runs/3292777546
Workflow file: https://github.com/sigstore/root-signing/tree/main/.github/workflows/staging-snapshot-timestamp.yml
Workflow runs: https://github.com/sigstore/root-signing/actions/workflows/staging-snapshot-timestamp.yml
Trigger: workflow_dispatch
Branch: main
Date: Thu Oct

[2022-10-20 21:13] asraa commented on #504
Fixed by https://github.com/sigstore/root-signing/pull/505

[2022-10-20 21:13] #504 closed, assigned to nobody

[2022-10-20 21:18] asraa opened #507 "Automated workflow runs do not trigger other (validation) workflow runs with default GH token"
**Description**

I JUST somehow remembered that reusable workflows do not trigger other workflows without a PAT token. See CI in https://github.com/sigstore/root-signing/pull/506

@kommendorkapten maybe you know as well, is there any workaround besides storing my PAT token in GH secrets and using that to trigger the reusable workflow?

**Version**

[2022-10-23 02:00] mihaimaruseac opened #515 "Scheduled workflow actions running in forks and failing (as expected)"
**Description**

Workflow actions that are scheduled on cron are running in any fork. However, they should fail as they lack auth. This results in notifications to fork owners.

Fork owners could delete the fork once no longer needed (PR landed, verification finished), could disable running the actions on their own fork or could just ignore the notifications that the workflows failed. Or, actions

[2022-10-24 14:22] #515 closed, assigned to nobody

[2022-10-24 16:48] Hayden-IO opened #518 "Update verifier playbook with steps to test major changes manually"
**Description**

https://github.com/sigstore/root-signing/blob/main/VERIFIER.md

This would include initializing cosign from scratch, and initializing cosign from an existing root.

Inspired by the verification comments in https://github.com/sigstore/root-signing/pull/512

[2022-10-25 17:34] Hayden-IO opened #521 "TUF client workflow - Do we need to update roots first?"
**Description**

https://theupdateframework.github.io/specification/latest/#update-root notes that the root should be updated before fetching the timestamp. Should we do the same? Currently, we initialize from the local cache rather than make any network calls.

@asraa

[2022-10-25 17:36] asraa commented on #521
Should this be in a client repository?

If you're speaking of the timestmap.json check for cache validity: note that this isn't part of the TUF client workflow start, this is a decider on starting the TUF update or not.

[2022-10-25 17:38] asraa commented on #521
I think though, Sigstore deployments and clients are in a lot of different environments, and some may prefer to configure WHEN to perform the TUF client workflow. See this doc for the proposed cache-ability and configurability and the justification for that choice: https://docs.google.com/document/d/1QWBvpwYxOy9njAmd8vpizNQpPti9rd5ugVhji0r3T4c/edit#

[2022-10-25 18:07] joshuagl commented on #521
Yes, we should update root before we fetch and verify timestamp. We need to better define how often Sigstore clients should run the TUF client workflow, would be good to get your feedback on the doc Asra linked to.

[2022-10-25 18:09] Hayden-IO commented on #521
Yea, didn't know if I should put this in sigstore/sigstore or here, I'd rather just discuss here cause this is where most TUF work happens now. This is specifically about https://github.com/sigstore/sigstore/blob/main/pkg/tuf/client.go

Is there any risk with the current client not checking for updated roots first?

[2022-10-25 18:22] joshuagl commented on #521
There is a risk, yes. If we update the TUF metadata, whether due to a scheduled root update or a proactive rotation of a compromised key, then a cosign client which already has a cached copy of timestamp will not know about the rotation until the locally cached timestamp has expired.

We should do something different. The doc Asra linked to suggests that by default a client will at least check for

[2022-10-25 19:26] asraa commented on #521
+1 This might address your concern @haydentherapper : I think the issue context is likely around the SCT rotation and how long-lived clients aren't updating proactively.

Santiago put it aptly that this default and not proactively initiating the TUF update is effectively a "freeze attack" for those days.

[2022-10-29 00:10] github-actions[bot] opened #522 "[bug]: Updating workflow stable snapshot timestamp"
Repo: https://github.com/sigstore/root-signing/tree/main
Run: https://github.com/sigstore/root-signing/actions/runs/3349299332
Workflow file: https://github.com/sigstore/root-signing/tree/main/.github/workflows/stable-snapshot-timestamp.yml
Workflow runs: https://github.com/sigstore/root-signing/actions/workflows/stable-snapshot-timestamp.yml
Trigger: schedule
Branch: main
Date: Sat Oct 29 00:10:2

[2022-10-29 04:37] Hayden-IO commented on #522
@asraa fyi for Monday (we have til the 3rd before the timestamp expires)

[2022-10-29 04:37] Hayden-IO commented on #522
[code]

[2022-10-31 14:42] asraa commented on #522
Thanks for catching this: there's a mismatch of the keys! I needed to update them after we pushed to prod.

[2022-10-31 14:42] asraa commented on #522
Love this workflow

[2022-10-31 15:47] Hayden-IO commented on #522
Me too, this is very helpful! I’ll be using this for the monitor.

[2022-10-31 15:56] #522 closed, assigned to nobody

[2022-10-31 16:21] asraa opened #525 "Trigger prod sync on 11/01 if pre-prod probers are stable"
**Description**

Current timestamp expires on 11/03: we just pushed the update to pre-prod today 10/31. To avoid root prober failures, we should push the update to prod after validate pre-prod probers are stable.

@haydentherapper

[2022-10-31 16:35] Hayden-IO commented on #525
FYI oncall @priyawadhwa @patflynn

[2022-11-01 14:15] #346 closed, assigned to joshuagl

[2022-11-01 14:15] asraa commented on #525
Done

[2022-11-01 14:15] #525 closed, assigned to nobody

[2022-11-08 20:08] asraa opened #533 "Include active log ranges in custom metadata"
**Description**

Right now we have a binary Active/Expired for `status`. Let's introduce a custom metadata field like `not_before` and an optional `not_after` for extra validity.

This will allow clients to verify that the key was active during the integrated_time, which may help detect whether an expired key was used maliciously to fake a new entry.

Note: when performing offline verification, we

[2022-11-15 15:37] jku opened #539 "Use root-of-trust bundle as the TUF target file"
This is not a fully formed feature request but an idea from [protobuf-specs issue about defining the root-of-trust bundle](https://github.com/sigstore/protobuf-specs/issues/4). If we end up in a situation where:
* there exists a bundle format that fully defines a root of trust for a sigstore instance
* sigstore clients are expected to be able to use this bundle format

then the logical conclusion

[2022-11-15 15:45] asraa commented on #539
+1, this would simplify the idea for target discovery: look for the trust bundle provided by the repository you want, with the specific "mime-type":
`sigstore/sigstore.dev/trustroot.protobuf`
`sigstore/sigstage.dev/trustroot.protobuf`
`sigstore/my_personal_ecosystem.dev/trustroot.protobuf`

etc

[2022-11-16 09:12] jku commented on #539
Potential further downside that I did not realize until talking to Fredrik today:
* Using protobuf means a new runtime dependency to all sigstore clients. For reference, the (pure) python protobuf package is about 20000 lines of code._

This is meaningful since sigstore is being proposed as a component of package management systems: Adding  dependencies to package management clients like pip is no

[2022-11-16 15:42] asraa commented on #539
Ohh you are right. Does it make sense to serialize as JSON?

[2022-11-16 15:58] joshuagl commented on #539
TIL that protobuf generated code depends on a protobuf runtime. 🤔
[Serialising to JSON](https://developers.google.com/protocol-buffers/docs/proto3#json) sounds like a good option! cc @kommendorkapten

[2022-11-16 16:42] jku commented on #539
Me too! I thought the generated code would have the deserialization embedded in it, but at least a naive protoc compile produces python that imports google.protobuf modules

[2022-11-16 16:48] kommendorkapten commented on #539
It might be possible to trim the dependencies if we only rely on JSON? Just an idea. But as long as we rely on JSON for the canonical encoding, hand-rolling a "JSON unmarshaller" for e.g. Python will be pretty straightforward, which tbh in Python is just relying on the native JSON parser. There are just some caveats which I think we are all aware of (int64 as strings and manual Base64 decoding of

[2022-11-16 22:03] asraa commented on #539
I'm also thinking: for clients that want to add in multiple TUF roots, can we do a merge on TrustBundle information canonically?

TrustBundle1 from TUF instance1 + TrustBundle2 + TUF instance2 is well-defined?

This comes back to the repository map in general, which, because the targets are bundled, now has little semantics over something like "choose Rekor from instance 1 and Fulcio from 2". But

[2022-11-16 22:15] vaikas commented on #539
FWIW, I had been modeling in my head (and jotted in the policy-controller doc (from the other issue)) that the policy-controller figures out what keys/certs (well, the whole proto now) should be used by the verification logic. So, by the time the verify method is called it will not have all the pieces, but only the ones that are deemed to be suitable for verification for that particular image. The

[2022-11-16 22:22] asraa commented on #539
Woah! Interesting. I'll take a look tomorrow.

[2022-11-16 22:24] #507 closed, assigned to nobody

[2022-11-17 07:31] kommendorkapten commented on #539
I'm writing up something on this, I'll expect to publish it into the client spec later today. When writing this, and thinking about this exact issue, I thought about if we should restrict each `TrustedRoot` to a single TUF root. As a TUF root typically refers to a single "environment" I think it may simplify to make it so, and that would also remedy the need for merging, and for artifact verificat

[2022-11-17 14:08] kommendorkapten commented on #539
Added a proposal to the client spec: https://docs.google.com/document/d/1kbhK2qyPPk8SLavHzYSDM8-Ueul9_oxIMVFuWMWKz0E/edit#heading=h.3exhkahaxwkq

[2022-11-17 15:06] github-actions[bot] opened #545 "[bug]: Updating workflow sync"
Repo: https://github.com/sigstore/root-signing/tree/main
Run: https://github.com/sigstore/root-signing/actions/runs/3489449418
Workflow file: https://github.com/sigstore/root-signing/tree/main/.github/workflows/sync.yml
Workflow runs: https://github.com/sigstore/root-signing/actions/workflows/sync.yml
Trigger: push
Branch: main
Date: Thu Nov 17 15:06:49 UTC 2022

[2022-11-17 15:11] asraa commented on #545
For some reason an old delegation file is present on the preprod repository and was not deleted (despite this code https://github.com/sigstore/root-signing/actions/runs/3489449418/workflow#L86-L94). It just expired, so now sync complains.

[2022-11-17 15:12] asraa commented on #545
I guess delegation files are never deleted by go-tuf. I think that's somewhat intentional (I know they are always meant to be snapshotted)

[2022-11-17 15:15] asraa commented on #545
https://github.com/theupdateframework/specification/blob/master/tuf-spec.md

I know we did rotate the keys, but we kept the delegations in (we would have had to remove them manually after a snapshot rotation). So we must continue to keep the hashes of the delegated targets in, but we probably should remove the metadata files.

I don't know if go-tuf should automatically remove the delegated target

[2022-11-17 15:17] asraa commented on #545
This function won't delete any of the snapshotted hashes, so I think it's safe to remove the old delegated target files (that are unused) https://github.com/theupdateframework/go-tuf/blob/00e8129a6d462d7d06f1374dbfabe76f6c163231/repo.go#L1327

[2022-11-18 15:00] #545 closed, assigned to nobody

[2022-11-18 15:12] asraa commented on #499
Done!

[2022-11-18 15:12] #499 closed, assigned to nobody

[2022-11-29 23:07] Hayden-IO commented on #65
This isn't needed.

[2022-11-29 23:07] #65 closed, assigned to nobody

[2022-11-29 23:13] Hayden-IO opened #553 "Automate merging of snapshot/timestamp PR"
**Description**

Previously we didn't automate this due to lack of e2e tests and a lack of a staging environment. Now that we have good testing, probes, a preprod environment, and issue filing for failed automation, I'd like to revisit this. Merging the snapshot/timestamp PR has been a source for issues in the past, especially over holidays. Since we have a long break coming up, I think we should

[2022-11-30 07:02] kommendorkapten commented on #553
Agreed, sounds like good improvement!

[2022-11-30 08:25] kommendorkapten commented on #533
I think may possibly close this and aim for https://github.com/sigstore/root-signing/issues/539 instead (publishing the trust bundle as a target, which then have structured field for such data).

[2022-11-30 15:10] asraa commented on #553
We have issues for the failed jobs, but not for prober issues. The one thing I don't have is visibility on when root probers failed. If that happens, I'd be happy to do that. But I don't know when on-callers are getting pinged when something is going wrong in staging.

I could add in a prober that runs at less granularity though and reports issues, in which case then I'd be OK doing automatic merg

[2022-11-30 18:33] Hayden-IO commented on #553
Oncall gets paged 9am-5pm PST for probers, and if a prober fails over night, it will page at 9am the next day.

There's an open ticket in the infrastructure repo to create an issue automatically every time a page occurs. I'm sure we could also set it up to create an issue in this repo when just the root prober fails. Does that sound good as the blocker for automation?

I've seen Trillian do this w